@model IEnumerable<RandevuViewModel>

<h1>Randevular</h1>

@if (Model != null && Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Çalışan Ad Soyad</th>
                <th>İşlem Adı</th>
                <th>Tarih</th>
                <th>Saat</th>
                <th>Onay Durumu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.CalisanAdSoyad</td>
                    <td>@item.IslemAdi</td>
                    <td>@item.Tarih.ToShortDateString()</td>
                    <td>@item.Saat.ToString(@"hh\:mm")</td>
                   <td>@(item.OnayDurumu2 ? "Onaylandı" : "Onaylanmadı")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Hiçbir randevu bulunamadı.</p>
}
